<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Sections</key>
		<array>
			<dict>
				<key>SectionHeaderTitle</key>
				<string></string>
				<key>Rows</key>
				<array>
					<dict>
						<key>Text</key>
						<string>新消息通知</string>
						<key>Switch</key>
						<false/>
					</dict>
					<dict>
						<key>Text</key>
						<string>隐私</string>
						<key>Switch</key>
						<false/>
					</dict>
					<dict>
						<key>Text</key>
						<string>通用</string>
						<key>Switch</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>SectionHeaderTitle</key>
				<string></string>
				<key>Rows</key>
				<array>
					<dict>
						<key>Text</key>
						<string>关于微信</string>
						<key>Switch</key>
						<false/>
					</dict>
				</array>
			</dict>
		</array>
		<key>Title</key>
		<string>微信</string>
		<key>LoginButton</key>
		<true/>
	</dict>
	<dict>
		<key>Sections</key>
		<array>
			<dict>
				<key>SectionHeaderTitle</key>
				<string></string>
				<key>Rows</key>
				<array>
					<dict>
						<key>Text</key>
						<string>Jack</string>
						<key>userAvatarImageName</key>
						<string>meicon.png</string>
						<key>Switch</key>
						<false/>
					</dict>
					<dict>
						<key>Text</key>
						<string>我的资料</string>
						<key>Switch</key>
						<false/>
					</dict>
					<dict>
						<key>Text</key>
						<string>我的相册</string>
						<key>Switch</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>SectionHeaderTitle</key>
				<string></string>
				<key>Rows</key>
				<array>
					<dict>
						<key>Text</key>
						<string>个人签名</string>
						<key>SubTitle</key>
						<string>我的签名是</string>
						<key>Switch</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>SectionHeaderTitle</key>
				<string></string>
				<key>Rows</key>
				<array>
					<dict>
						<key>Text</key>
						<string>消息通知</string>
						<key>Switch</key>
						<false/>
					</dict>
					<dict>
						<key>Text</key>
						<string>辅助功能</string>
						<key>Switch</key>
						<false/>
					</dict>
					<dict>
						<key>Text</key>
						<string>安全与隐私</string>
						<key>Switch</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>SectionHeaderTitle</key>
				<string></string>
				<key>Rows</key>
				<array>
					<dict>
						<key>Text</key>
						<string>关于我们</string>
						<key>Switch</key>
						<false/>
					</dict>
				</array>
			</dict>
		</array>
		<key>Title</key>
		<string>QQ</string>
		<key>LoginButton</key>
		<true/>
	</dict>
	<dict>
		<key>Sections</key>
		<array>
			<dict>
				<key>SectionHeaderTitle</key>
				<string></string>
				<key>Rows</key>
				<array>
					<dict>
						<key>Text</key>
						<string>查找关注</string>
						<key>Switch</key>
						<false/>
					</dict>
					<dict>
						<key>Text</key>
						<string>你赞过的帖子</string>
						<key>Switch</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>SectionHeaderTitle</key>
				<string>支持</string>
				<key>Rows</key>
				<array>
					<dict>
						<key>Text</key>
						<string>Instagram 帮助中心</string>
						<key>Switch</key>
						<false/>
					</dict>
					<dict>
						<key>Text</key>
						<string>Instagram 博客</string>
						<key>Switch</key>
						<false/>
					</dict>
					<dict>
						<key>Text</key>
						<string>隐私政策</string>
						<key>Switch</key>
						<false/>
					</dict>
					<dict>
						<key>Text</key>
						<string>服务条款</string>
						<key>Switch</key>
						<false/>
					</dict>
					<dict>
						<key>Text</key>
						<string>关于此版本</string>
						<key>Switch</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>SectionHeaderTitle</key>
				<string>偏好设置</string>
				<key>Rows</key>
				<array>
					<dict>
						<key>Text</key>
						<string>共享设置</string>
						<key>Switch</key>
						<false/>
					</dict>
					<dict>
						<key>Text</key>
						<string>推送通知设置</string>
						<key>Switch</key>
						<false/>
					</dict>
					<dict>
						<key>Text</key>
						<string>保存原有照片</string>
						<key>Switch</key>
						<true/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>SectionHeaderTitle</key>
				<string>视频</string>
				<key>Rows</key>
				<array>
					<dict>
						<key>Text</key>
						<string>静音</string>
						<key>Switch</key>
						<false/>
					</dict>
					<dict>
						<key>Text</key>
						<string>预加载</string>
						<key>Switch</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>SectionHeaderTitle</key>
				<string></string>
				<key>Rows</key>
				<array>
					<dict>
						<key>Text</key>
						<string>清楚搜索历史记录</string>
						<key>Switch</key>
						<false/>
					</dict>
					<dict>
						<key>Text</key>
						<string>注销</string>
						<key>Switch</key>
						<false/>
					</dict>
				</array>
			</dict>
		</array>
		<key>Title</key>
		<string>Instagram</string>
		<key>LoginButton</key>
		<false/>
	</dict>
	<dict>
		<key>Sections</key>
		<array>
			<dict>
				<key>SectionHeaderTitle</key>
				<string></string>
				<key>Rows</key>
				<array>
					<dict>
						<key>Text</key>
						<string>绑定其他平台</string>
						<key>Switch</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>SectionHeaderTitle</key>
				<string></string>
				<key>Rows</key>
				<array>
					<dict>
						<key>Text</key>
						<string>字体设置</string>
						<key>Switch</key>
						<false/>
					</dict>
					<dict>
						<key>Text</key>
						<string>正文字号</string>
						<key>Switch</key>
						<false/>
					</dict>
					<dict>
						<key>Text</key>
						<string>正文全屏</string>
						<key>Switch</key>
						<true/>
					</dict>
					<dict>
						<key>Text</key>
						<string>服务条款</string>
						<key>Switch</key>
						<false/>
					</dict>
					<dict>
						<key>Text</key>
						<string>关于此版本</string>
						<key>Switch</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>SectionHeaderTitle</key>
				<string></string>
				<key>Rows</key>
				<array>
					<dict>
						<key>Text</key>
						<string>推送设置</string>
						<key>Switch</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>SectionHeaderTitle</key>
				<string></string>
				<key>Rows</key>
				<array>
					<dict>
						<key>Text</key>
						<string>离线设置</string>
						<key>Switch</key>
						<false/>
					</dict>
					<dict>
						<key>Text</key>
						<string>3G/2G网络为无图模式</string>
						<key>Switch</key>
						<false/>
					</dict>
					<dict>
						<key>Text</key>
						<string>清楚缓存</string>
						<key>Switch</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>SectionHeaderTitle</key>
				<string></string>
				<key>Rows</key>
				<array>
					<dict>
						<key>Text</key>
						<string>开启聚合阅读</string>
						<key>Switch</key>
						<true/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>SectionHeaderTitle</key>
				<string></string>
				<key>Rows</key>
				<array>
					<dict>
						<key>Text</key>
						<string>应用推荐</string>
						<key>Switch</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>SectionHeaderTitle</key>
				<string></string>
				<key>Rows</key>
				<array>
					<dict>
						<key>Text</key>
						<string>意见反馈</string>
						<key>Switch</key>
						<false/>
					</dict>
					<dict>
						<key>Text</key>
						<string>关于</string>
						<key>Switch</key>
						<false/>
					</dict>
				</array>
			</dict>
		</array>
		<key>Title</key>
		<string>网易新闻</string>
		<key>LoginButton</key>
		<false/>
	</dict>
	<dict>
		<key>Sections</key>
		<array>
			<dict>
				<key>SectionHeaderTitle</key>
				<string></string>
				<key>Rows</key>
				<array>
					<dict>
						<key>Text</key>
						<string>观看会员视频特性</string>
						<key>Switch</key>
						<true/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>SectionHeaderTitle</key>
				<string></string>
				<key>Rows</key>
				<array>
					<dict>
						<key>Text</key>
						<string>沃.唱吧包月服务专区</string>
						<key>Switch</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>SectionHeaderTitle</key>
				<string></string>
				<key>Rows</key>
				<array>
					<dict>
						<key>Text</key>
						<string>给唱吧大哥分，评价一下</string>
						<key>Switch</key>
						<false/>
					</dict>
					<dict>
						<key>Text</key>
						<string>已经按反馈</string>
						<key>Switch</key>
						<false/>
					</dict>
					<dict>
						<key>Text</key>
						<string>使用协议和版权声明</string>
						<key>Switch</key>
						<false/>
					</dict>
					<dict>
						<key>Text</key>
						<string>唱吧帮助中心</string>
						<key>Switch</key>
						<false/>
					</dict>
					<dict>
						<key>Text</key>
						<string>关于唱吧</string>
						<key>Switch</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>SectionHeaderTitle</key>
				<string></string>
				<key>Rows</key>
				<array>
					<dict>
						<key>Text</key>
						<string>清空缓存</string>
						<key>Switch</key>
						<false/>
					</dict>
					<dict>
						<key>Text</key>
						<string>每日热个推荐</string>
						<key>Switch</key>
						<true/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>SectionHeaderTitle</key>
				<string></string>
				<key>SectionFooterTitle</key>
				<string>开启后，下次录歌时你的录音将被压缩成为较小的格式，上传加快，但保存会变得非常慢，建议仅在网速较慢或上传经常失败的情况下开启</string>
				<key>Rows</key>
				<array>
					<dict>
						<key>Text</key>
						<string>职能降噪</string>
						<key>Switch</key>
						<true/>
					</dict>
					<dict>
						<key>Text</key>
						<string>压缩上传</string>
						<key>Switch</key>
						<true/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>SectionHeaderTitle</key>
				<string></string>
				<key>Rows</key>
				<array>
					<dict>
						<key>Text</key>
						<string>是否播放视频</string>
						<key>Switch</key>
						<false/>
					</dict>
				</array>
			</dict>
		</array>
		<key>Title</key>
		<string>唱吧</string>
		<key>LoginButton</key>
		<true/>
	</dict>
	<dict>
		<key>Sections</key>
		<array>
			<dict>
				<key>SectionHeaderTitle</key>
				<string></string>
				<key>Rows</key>
				<array>
					<dict>
						<key>Text</key>
						<string>草稿箱</string>
						<key>Switch</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>SectionHeaderTitle</key>
				<string></string>
				<key>Rows</key>
				<array>
					<dict>
						<key>Text</key>
						<string>帐号管理</string>
						<key>Switch</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>SectionHeaderTitle</key>
				<string></string>
				<key>Rows</key>
				<array>
					<dict>
						<key>Text</key>
						<string>主题、背景</string>
						<key>AccessoryViewText</key>
						<string>New</string>
						<key>Switch</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>SectionHeaderTitle</key>
				<string></string>
				<key>Rows</key>
				<array>
					<dict>
						<key>Text</key>
						<string>新消息提醒</string>
						<key>Switch</key>
						<false/>
					</dict>
					<dict>
						<key>Text</key>
						<string>通用设置</string>
						<key>Switch</key>
						<false/>
					</dict>
					<dict>
						<key>Text</key>
						<string>隐私与安全</string>
						<key>Switch</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>SectionHeaderTitle</key>
				<string></string>
				<key>Rows</key>
				<array>
					<dict>
						<key>Text</key>
						<string>意见反馈</string>
						<key>Switch</key>
						<false/>
					</dict>
					<dict>
						<key>Text</key>
						<string>关于微博</string>
						<key>AccessoryViewText</key>
						<string>发现新版本</string>
						<key>Switch</key>
						<false/>
					</dict>
				</array>
			</dict>
		</array>
		<key>Title</key>
		<string>新浪微博</string>
		<key>LoginButton</key>
		<true/>
	</dict>
	<dict>
		<key>Sections</key>
		<array>
			<dict>
				<key>SectionHeaderTitle</key>
				<string>帐号</string>
				<key>Rows</key>
				<array>
					<dict>
						<key>Text</key>
						<string>曾宪华 @xhzengAIB</string>
						<key>Switch</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>SectionHeaderTitle</key>
				<string>通用</string>
				<key>Rows</key>
				<array>
					<dict>
						<key>Text</key>
						<string>图像质量</string>
						<key>Subtitle</key>
						<string>中</string>
						<key>Switch</key>
						<false/>
					</dict>
					<dict>
						<key>Text</key>
						<string>音效</string>
						<key>Switch</key>
						<true/>
					</dict>
					<dict>
						<key>Text</key>
						<string>图像预览</string>
						<key>Switch</key>
						<true/>
					</dict>
					<dict>
						<key>Text</key>
						<string>联系标签</string>
						<key>Subtitle</key>
						<string>全部</string>
						<key>Switch</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>SectionHeaderTitle</key>
				<string>服务</string>
				<key>Rows</key>
				<array>
					<dict>
						<key>Text</key>
						<string>稍后再读</string>
						<key>Subtitle</key>
						<string>无</string>
						<key>Switch</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>SectionHeaderTitle</key>
				<string>更多</string>
				<key>Rows</key>
				<array>
					<dict>
						<key>Text</key>
						<string>关于</string>
						<key>Switch</key>
						<false/>
					</dict>
				</array>
			</dict>
		</array>
		<key>Title</key>
		<string>Twitter</string>
		<key>LoginButton</key>
		<false/>
	</dict>
	<dict>
		<key>Sections</key>
		<array>
			<dict>
				<key>SectionHeaderTitle</key>
				<string></string>
				<key>Rows</key>
				<array>
					<dict>
						<key>Text</key>
						<string>Airplane Mode</string>
						<key>Subtitle</key>
						<string>iamtheinternet</string>
						<key>Switch</key>
						<true/>
						<key>userAvatarImageName</key>
						<string>AirplaneMode</string>
					</dict>
					<dict>
						<key>Text</key>
						<string>Wi-Fi</string>
						<key>Switch</key>
						<false/>
					</dict>
					<dict>
						<key>Text</key>
						<string>Notifications</string>
						<key>Switch</key>
						<false/>
						<key>userAvatarImageName</key>
						<string>Notifications</string>
					</dict>
					<dict>
						<key>Text</key>
						<string>Location Services</string>
						<key>Subtitl</key>
						<string>On</string>
						<key>Switch</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>SectionHeaderTitle</key>
				<string></string>
				<key>Rows</key>
				<array>
					<dict>
						<key>Text</key>
						<string>Sounds</string>
						<key>Switch</key>
						<false/>
						<key>userAvatarImageName</key>
						<string>Sounds</string>
					</dict>
					<dict>
						<key>Text</key>
						<string>Brightness</string>
						<key>Switch</key>
						<false/>
						<key>userAvatarImageName</key>
						<string>Brightness</string>
					</dict>
					<dict>
						<key>Text</key>
						<string>Wallpaper</string>
						<key>Switch</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>SectionHeaderTitle</key>
				<string></string>
				<key>Rows</key>
				<array>
					<dict>
						<key>Text</key>
						<string>General</string>
						<key>Switch</key>
						<false/>
						<key>userAvatarImageName</key>
						<string>General</string>
					</dict>
					<dict>
						<key>Text</key>
						<string>Mail, Contacts, Calendars</string>
						<key>Switch</key>
						<false/>
						<key>userAvatarImageName</key>
						<string>Mail</string>
					</dict>
					<dict>
						<key>Text</key>
						<string>Phone</string>
						<key>Switch</key>
						<false/>
						<key>userAvatarImageName</key>
						<string>Phone</string>
					</dict>
					<dict>
						<key>Text</key>
						<string>Twitter</string>
						<key>Switch</key>
						<false/>
					</dict>
					<dict>
						<key>Text</key>
						<string>FaceTime</string>
						<key>Switch</key>
						<false/>
					</dict>
					<dict>
						<key>Text</key>
						<string>Safari</string>
						<key>Switch</key>
						<false/>
						<key>userAvatarImageName</key>
						<string>Safari</string>
					</dict>
					<dict>
						<key>Text</key>
						<string>Messages</string>
						<key>Switch</key>
						<false/>
						<key>userAvatarImageName</key>
						<string>Messages</string>
					</dict>
					<dict>
						<key>Text</key>
						<string>Music</string>
						<key>Switch</key>
						<false/>
						<key>userAvatarImageName</key>
						<string>Music</string>
					</dict>
					<dict>
						<key>Text</key>
						<string>Video</string>
						<key>Switch</key>
						<false/>
						<key>userAvatarImageName</key>
						<string>Video</string>
					</dict>
					<dict>
						<key>Text</key>
						<string>Photos</string>
						<key>Switch</key>
						<false/>
						<key>userAvatarImageName</key>
						<string>Photos</string>
					</dict>
					<dict>
						<key>Text</key>
						<string>Notes</string>
						<key>Switch</key>
						<false/>
						<key>userAvatarImageName</key>
						<string>Notes</string>
					</dict>
					<dict>
						<key>Text</key>
						<string>Store</string>
						<key>Switch</key>
						<false/>
						<key>userAvatarImageName</key>
						<string>Store</string>
					</dict>
				</array>
			</dict>
		</array>
		<key>Title</key>
		<string>系统设置</string>
		<key>LoginButton</key>
		<false/>
	</dict>
</array>
</plist>
